 body{font-family: 'Poppins', sans-serif; }
.header{background-image: url(../image/bg.png);  object-fit: contain; height: 400px; position: relative;}

 /*  */
.Jeffrey{ background: #000;}
h2{ font-weight: bold; color: #00a4aa !important; margin-left: 10px;}
.Jeffrey .text1 p span{font-weight: 800; margin-left: 10px; }
.Jeffrey .text1 p{font-weight: 400; margin-left: 10px;color: #fff;}
.Jeffrey .text2 p{ font-weight: 600; margin-right: 21px; color: #fff;}
.Jeffrey .text2 p span{ color: #00a4aa;}
.you-tube{width: 20%; height: 45%; margin-top: auto; margin-bottom: auto;}

/* hero */
.hero .para{ font-weight: 500; line-height: 26px;}
.text-edit p{font-weight: 500; font-size: 18px; line-height: 26px;}
.hero .bor{ border:2px solid #00a4aa; margin-bottom: 40px; padding: 24px;}
.btn{font-family: 'Poppins', sans-serif; font-size: 17px; padding: 16px 45px; background: #00a4aa; border: none;}

/* footer */
.footer h3{font-size: 23px; font-weight: bold;}
.footer p{font-size: 23px; font-weight: 500;}
